.container {
  display: flex;
  gap: 1rem;
  margin: 5rem;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  display: flex;
  flex: 1 1 0px;
  min-width: 150px;
  max-width: 200px;
  transition: transform 500ms;
  background-color: #000;
  border-radius: 10px;
  padding: 1rem;
}

.text {
  display: none;
}

.container:focus-within .item,
.container:hover .item {
  transform: translateX(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;
}

.container .item:focus .cover,
.container .item:hover .cover {
  opacity: 0;
}

.container .item:focus .cover-full,
.container .item:hover .cover-full {
  display: block;
  opacity: 1;
}

.container .item:focus .text,
.container .item:hover .text {
  display: block;
}

.item .cover {
  position: absolute;
  top: 0;
  display: block;
  max-width: 100%;
  border-radius: 10px;
  transition: opacity 500ms;
}

.item .cover-full {
  display: none;
  opacity: 0;
  max-width: 100%;
  border-radius: 10px;
  transition: opacity 500ms;
}
